@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Jost', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
	background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(149, 16, 165);
}

.home-page {
   background-position-y: 45vh;
   background-size: 100%;
   @media screen and (max-width: 1324px) {
     background-position-y: 75vh;
   }
    @media screen and (max-width: 767px) {
     background-position-y: 85vh;
   }
}
.footer-nav-wrapper {
  .footer-nav {
    a {
      font-size: 1.25rem;
    }
  }
}

.swiper-slide-active .darkened-slide {
  box-shadow: 0rem 1.5rem 4rem 0rem #00000059;
}

.swiper-slide:not(.swiper-slide-active) .darkened-slide {
  filter: blur(0.625rem);
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.darkened-slide {
  position: relative;
  border-radius: 1.45rem; 
}

.animation-border::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: inherit;
  padding: 4px;
  background: linear-gradient(113.02deg, rgba(69, 17, 65, 0.2), rgba(55, 60, 79, 0.2), rgba(69, 17, 65, 0.8), rgba(55, 60, 79, 0.8));
  background-size: 300% 300%;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  transition: .5s all;
   animation: gradient-border 3s linear infinite;
   opacity: 0;
}
.animation-border:hover::before {
  opacity: 1;
}

.darkened-swiper .swiper-pagination-bullet {
  background-color: #C1CBDC ;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.darkened-swiper .swiper-pagination-bullet-active {

  position: relative;
  &:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #C1CBDC;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
}
.darkened-swiper {
  &.swiper {
    
  padding-bottom: 3rem;
   .swiper-pagination {
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    height: 12px;
  } 
  }
 
}
.custom-bg-bottom {
  background-position: center bottom;
}

.mobile-menu {
  align-items: flex-end;
}

.\[\&\[data-state\=open\]\>svg\]\:rotate-180[data-state=open]>svg  path:first-child{
  display: none;
}

.accordeon-header {
  text-decoration: none !important;
}

.first-block {
  padding-top: 26.8vh;
  padding-bottom: 6vh;
}
.social-link {
  svg {
    width: 24px;
    height: 24px;
  }
}
.animated-border-card {
   background: linear-gradient(#0A0A0A, #0A0A0A 0) padding-box, radial-gradient(42.82% 77.08% at 50% 29.17%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;
}
.growWithUsCartBorder {
  background:  linear-gradient(#0A0A0A, #0A0A0A) padding-box, 
  radial-gradient(42.82% 77.08% at 50% 29.17%, #A972B3 0%, #2F0F35 27.5%, #111111 100%) border-box;
}

.growWithUsBigCartBorder {
  background: linear-gradient(#0A0A0A, #0A0A0A) padding-box, 
  radial-gradient(68.27% 122.89% at -16.59% 96.67%, #E984FB 0%, #5C2267 40.65%, #111111 100%) border-box;
  transition: background 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(#0A0A0A, #0A0A0A) padding-box, 
    radial-gradient(68.27% 122.89% at -16.59% 3.33%, #E984FB 0%, #5C2267 40.65%, #111111 100%) border-box;
  }
}

.border-gradient-technical {
  transition: background 0.5s ease-in-out;
  &.border-gradient-technical1 {
    background: linear-gradient(#111111, #111111) padding-box, 
    radial-gradient(68.27% 122.89% at -16.59% 96.67%, #E984FB 0%, #5C2267 40.65%, #111111 100%) border-box;
  }
  &.border-gradient-technical2 {
    background: linear-gradient(#111111, #111111) padding-box, 
    radial-gradient(109.33% 196.79% at -16.9% 5%, #111111 0%, #381140 100%) border-box;
  }
  &.border-gradient-technical3 {
    background: linear-gradient(#111111, #111111) padding-box, 
    radial-gradient(109.33% 196.79% at -16.9% 5%, #381140 0%, #111111 100%) border-box;
  }
}

.auditors-border {
  background: linear-gradient(#090909, #090909) padding-box, 
  radial-gradient(42.82% 77.08% at 50% 29.17%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;
}

.security-cart-border {
  transition: background 0.5s ease-in-out;
 &.security-cart-border1 {
  background: linear-gradient(#090909, #090909) padding-box,
    radial-gradient(37.26% 67.06% at 27.08% 12.1%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;

  &:hover {
    background: linear-gradient(#090909, #090909) padding-box,
      radial-gradient(37.26% 67.06% at 72.92% 87.9%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;
  }
}

&.security-cart-border2 {
  background: linear-gradient(#090909, #090909) padding-box,
    radial-gradient(42.82% 77.08% at 50% 29.17%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;

  &:hover {
    background: linear-gradient(#090909, #090909) padding-box,
      radial-gradient(42.82% 77.08% at 50% 70.83%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;
  }
}

&.security-cart-border3 {
  background: linear-gradient(#090909, #090909) padding-box,
    radial-gradient(29.86% 52.18% at 76.62% 24.01%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;

  &:hover {
    background: linear-gradient(#090909, #090909) padding-box,
      radial-gradient(29.86% 52.18% at 23.38% 75.99%, #BE55D1 0%, #6A1B79 31.67%, #090909 100%) border-box;
  }
}
}

.browse-cart-border {
  background: linear-gradient(rgba(9, 9, 9, 0.4), rgba(9, 9, 9, 0.4)) padding-box,
  radial-gradient(42.82% 77.08% at 50% 29.17%, rgba(169, 114, 179, 0.6) 0%, rgba(47, 15, 53, 0.6) 27.5%, rgba(17, 17, 17, 0.6) 100%) border-box;
  &:hover {
    background: linear-gradient(rgba(9, 9, 9, 0.4), rgba(9, 9, 9, 0.8)) padding-box,
    radial-gradient(42.82% 77.08% at 50% 29.17%, rgba(169, 114, 179, 0.6) 0%, rgba(47, 15, 53, 0.6) 27.5%, rgba(17, 17, 17, 0.6) 100%) border-box;
  }
}

.subscribe-cart-border {
  background: linear-gradient(rgba(4, 4, 4, 1), rgba(4, 4, 4, 1)) padding-box,
  radial-gradient(42.82% 77.08% at 50% 29.17%, #A972B3 0%, #2F0F35 27.5%, #111111 100%) border-box;

  &:hover {
  background: linear-gradient(rgba(4, 4, 4, 1), rgba(4, 4, 4, 1)) padding-box,
   radial-gradient(42.82% 77.08% at 50% 70.83%, #A972B3 0%, #2F0F35 27.5%, #111111 100%) border-box;
  }
}



@media screen and (max-height: 1000px) {
  .first-block {
    padding-top: 36.8vh;
    padding-bottom: 12vh;
  }
}